.main {
  /* Main */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 0px 48px;
  gap: 32px;
  width: 1160px;
  height: 960px;
  background: #fdfcfc;
  flex: none;
  order: 1;
  flex-grow: 1;
}

.header {
  /* Header section */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;
  width: 1160px;
  height: 862px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.container {
  /* Container */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 32px;
  gap: 24px;
  width: 982px;
  height: 130px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.page-header {
  /* Page header */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
  width: 918px;
  height: 66px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.content {
  /* Content */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 918px;
  height: 66px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.header-text-and-supporting-text {
  /* Text and supporting text */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  width: 918px;
  height: 66px;
  flex: none;
  order: 0;
  flex-grow: 1;
}

.header-text {
  /* Text */
  width: 918px;
  height: 38px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 38px;
  color: #101828;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.header-supporting-text {
  /* Supporting text */
  width: 918px;
  height: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #667085;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.header-tabs-and-filters {
  /* Tabs and filters */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 918px;
  height: 40px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.header-button-group {
  /* Button group */
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  isolation: isolate;
  width: 178px;
  height: 40px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.header-fruits-button {
  /* _Button group base */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  gap: 8px;
  width: 70px;
  height: 40px;
  background: #ffffff;
  border-right: 1px solid #d7d8db;
  border: 1px solid #d7d8db;
  border-right: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  z-index: 8;
}

.header-fruits-button-choosen {
  /* _Button group base */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  gap: 8px;
  width: 70px;
  height: 40px;
  background: #fe6215;
  border-right: 1px solid #d7d8db;
  border: 1px solid #d7d8db;
  border-right: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  z-index: 8;
}

.header-fruits-button-text {
  /* Text */
  width: 38px;
  height: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #344054;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.header-fruits-button-text-choosen {
  /* Text */
  width: 38px;
  height: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.header-vegetables-button {
  /* _Button group base */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  gap: 8px;
  width: 108px;
  height: 40px;
  background: #ffffff;
  border-right: 1px solid #d0d5dd;
  border: 1px solid #d7d8db;
  border-left: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
  z-index: 7;
}

.header-vegetables-button-choosen {
  /* _Button group base */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  gap: 8px;
  width: 108px;
  height: 40px;
  background: #fe6215;
  border-right: 1px solid #d0d5dd;
  border: 1px solid #d7d8db;
  border-left: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
  z-index: 7;
}

.header-vegetables-button-text {
  /* Text */
  width: 76px;
  height: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #344054;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.header-vegetables-button-text-choosen {
  /* Text */
  width: 76px;
  height: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.header-actions {
  /* Actions */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;
  width: 110px;
  height: 40px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.header-actions:hover .dropdown-content {
  /* Actions */
  display: block;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;
  width: 110px;
  height: 40px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content button {
  /* Button */
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  color: #344054;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ffffff;
}

.header-sort-button {
  /* Button */
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  gap: 8px;
  width: 110px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.filter-lines-img {
  /* filter-lines */
  width: 20px;
  height: 20px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.header-sort-button-text {
  /* Text */
  width: 50px;
  height: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #344054;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.section {
  /* Section */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;
  width: 975px;
  height: 708px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.section-container {
  /* Container */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 32px;
  gap: 24px;
  width: 975px;
  height: 708px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.table {
  /* Table */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  width: 911px;
  height: 708px;
  background: #ffffff;
  border-radius: 8px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.table-content {
  /* Content */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  width: 911px;
  height: 648px;
  background: #fdfcfc;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.table-name-area {
  /* Table cell */
  box-sizing: border-box;
  align-items: center;
  padding: 16px 24px 16px 0px;
  gap: 12px;
  width: 582px;
  height: 72px;
  border-bottom: 1px solid #eaecf0;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.table-name-text {
  /* Text */
  width: 117px;
  height: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #101828;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.table-price-area {
  /* Table cell */
  box-sizing: border-box;
  align-items: center;
  padding: 16px 24px;
  width: 209px;
  height: 72px;
  border-bottom: 1px solid #eaecf0;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.table-price-text {
  /* Text */
  width: 45px;
  height: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #039855;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.table-buy-content {
  /* Table cell */
  box-sizing: border-box;
  align-items: center;
  padding: 16px;
  gap: 4px;
  width: 120px;
  height: 72px;
  border-bottom: 1px solid #eaecf0;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.table-button {
  /* Button */
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 14px;
  gap: 8px;
  width: 88px;
  height: 36px;
  background: #fdf8f5;
  border: 1px solid #fdf2ec;
  border-radius: 8px;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.table-button-text {
  /* Text */
  width: 60px;
  height: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #fe6215;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.pagination {
  /* Pagination */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px 0px;
  gap: 20px;
  width: 911px;
  height: 60px;
  border-top: 1px solid #eaecf0;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.pagination-previous-button {
  /* Button */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 8px;
  width: 86px;
  height: 20px;
  border: none;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.pagination-previous-button:active {
  /* Button */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 8px;
  background: #ddd;
  width: 86px;
  height: 20px;
  border: none;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.pagination-previous-button:hover:not(:active) {
  /* Button */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 8px;
  background-color: #f9fafb;
  width: 86px;
  height: 20px;
  border: none;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.previous-button-img {
  /* arrow-left */
  width: 20px;
  height: 20px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.pagination-previous-button-text {
  /* Text */
  width: 58px;
  height: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #667085;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.pagination-numbers-group {
  /* Pagination numbers */
  display: inline-block;
  flex-direction: row;
  align-items: center;
  gap: 2px;
  height: 40px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.pagination-next-button {
  /* Button */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 8px;
  width: 60px;
  height: 20px;
  border: none;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.pagination-next-button:active {
  /* Button */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 8px;
  background: #ddd;
  width: 60px;
  height: 20px;
  border: none;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.pagination-next-button:hover:not(:active) {
  /* Button */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 8px;
  background-color: #f9fafb;
  width: 60px;
  height: 20px;
  border: none;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.next-button-img {
  /* arrow-right */
  width: 20px;
  height: 20px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.pagination-next-button-text {
  /* Text */
  width: 32px;
  height: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #667085;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.pagination-number-button {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  transition: background-color 0.3s;
  display: inline-block;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.pagination-number-button:focus {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #ddd;
  border: none;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.pagination-number-button:hover:not(:focus) {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #f9fafb;
  border: none;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.pagination-number-button-content {
  /* Content */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px;
  height: 40px;
  left: 0px;
  top: 0px;
  border-radius: 20px;
}

.pagination-number-button-text {
  /* Number */
  width: 9px;
  height: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #667085;
}
